* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #EBEBEB;
}
header{
  width: 100%;
}
/* navigation */
header div.sidebar{
  text-transform: capitalize;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #61A3BA;
  padding: 2rem;
}
header div.sidebar .logo img{
  width: 44px;
  height: 44px;
}
header div.sidebar nav.drawer ul{
  gap: 8px;
  list-style: none;
  display: flex;
  gap: 2rem;
}
header div.sidebar ul li a{
  display: inline-block;
  font-weight: bold;
  min-width: 44px;
  min-height: 44px;
  text-align: center;
  line-height: 44px;
  text-decoration: none;
  color: white;
}
header div.sidebar ul li a.active{
  color: #52D3D8;
}
header div.sidebar ul li a:hover{
  color: #b0f6f8;
}
/* hero */
header .hero{
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 1.8rem;
}
header .tagline_hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
  color: white;
}
/* main */
main#maincontent{
  display: flex;
  padding-block-start: 3rem;
  flex-direction: column;
}
main#maincontent .options{
  display: flex;
  justify-content:space-around;
  width: 100%;
}
/* options */
main#maincontent .options .container-option-items{
  margin: auto;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
}
main#maincontent .options .container-option-items button{
  width: 100px;
  height: 100px;
  cursor: pointer;
}
main#maincontent .options .container-option-items .item_option{
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  gap: 1.2rem;
  text-align: center;
  font-weight: bold;
}
/* recomendation */
div.recomendations h1{
  padding-block: 6rem 3rem;
  text-align: center;
  font-size: 1.8rem;
}
div.recomendations .container-recomendation-items{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  padding: 1rem;
  justify-content: center;
  padding-block-end: 10rem;
}
div.recomendations .container-recomendation-items .item_recomendation{
  /* flex-basis: auto; */
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
}
div.recomendations .container-recomendation-items img{
  width: 350px;
  height: 270px;
  object-fit: cover;
  object-position: center;
  background-color: #F8F8FF;
}
div.recomendations .container-recomendation-items button{
  display: inline-block;
  border: 0;
  margin:.3rem;
  position: absolute;
  min-width: 44px;
  min-height: 44px;
  border-radius: 5px;
  background-color: #DDCE41;
  cursor: pointer;
}
/* item */
h1{
  text-align: center;
  padding-block-end: 8rem;
}
.penghinapanContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 2rem 1rem;
  padding: 1rem;
}
.penghinapanContainer .detail-Container{
  flex-basis: 20%;
  background-color:rgb(219, 219, 219);
  border-radius: 6px;
}
.penghinapanContainer .detail-Container .image-item{
  width: 100%;
  height: 180px;
}
.penghinapanContainer .detail-Container .image-item picture img{
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: center;
}
.penghinapanContainer .detail-Container .description-item{
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.penghinapanContainer .detail-Container .description-item .title-item{
  text-align: center;
  font-size: 1.3rem;
}
.penghinapanContainer .detail-Container .description-item .title-item a{
  color: black;
  text-transform: capitalize;
  text-decoration: none;
}
/* detail */
.detailContainer{
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.detail-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.detailContainer .image-detail{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  max-width: 750px;
  /* background-color:blue; */
  text-align: center;
  padding-block-end: 1rem;
}
.detailContainer .image-detail picture img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  
}
.more-detail{
  display: flex;
}
.location-detail{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 80%;
  flex: 1;
}
.maps{
  display: inline-block;
  width: 30%;
  flex: 0;
}
/* footer */
footer{
  background-color: #0F1010;
  display: flex;
  padding: 2rem;
}
footer .footer-content{
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}