* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e0e0e0;
  min-height: 100vh;
  position: relative;
}
a.skip-link:focus {
  top: 40px;
}
a.skip-link {
  z-index: 99;
  position: absolute;
  top: -40px;
  left: 10px;
  padding: 8px;
  z-index: 100;
  text-decoration: underline;
}
.show {
  position: absolute;
  top: 50px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.hidden {
  display: none;
}
header {
  width: 100%;
  box-shadow: 1px 1px 4px #747474;
}
a {
  text-decoration: none;
}
/* navigation */
header div.sidebar {
  text-transform: capitalize;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #61a3ba;
  padding: 2rem;
  width: 100%;
}
header div.sidebar .logo img {
  display: inline-block;
  width: 100%;
  height: 90px;
}
header div.sidebar nav.drawer ul {
  gap: 8px;
  list-style: none;
  display: flex;
  gap: 2rem;
}
header div.sidebar ul li a {
  display: inline-block;
  font-weight: bold;
  min-width: 44px;
  min-height: 44px;
  text-align: center;
  line-height: 44px;
  color: white;
}
header div.sidebar ul li a.active {
  color: #52d3d8;
}
header div.sidebar ul li a:hover {
  color: #b0f6f8;
}
/* hero */
.hero {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 1.8rem;
  padding-block-end: 4rem;
}
.hero .tagline_hero {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .tagline_hero img {
  width: 100%;
  height: 500px;
  color: white;
  object-fit: cover;
  object-position: center;
}
.hero .tagline_hero p,
.hero .tagline_hero h2 {
  position: absolute;
  color: white;
}
.hero .tagline_hero h2 {
  padding-block-end: 6rem;
}

/* main */
main#maincontent {
  display: flex;
  position: relative;
  flex-direction: column;
}
/* caterogry */
main#maincontent .category {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
main#maincontent .category .container-option-items {
  margin: auto;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
}

main#maincontent .wisata {
  position: relative;
}
main#maincontent .category .container-option-items button {
  position: relative;
  width: 100px;
  height: 100px;
  border-width: 0;
  border-radius: 9px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  background: #e0e0e0;
  box-shadow: 2px 2px 7px #bababa, -2px -2px 7px #ffffff;
}
main#maincontent .category .container-option-items button img {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}
main#maincontent .category .container-option-items .item_option {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  gap: 1.2rem;
  text-align: center;
  font-weight: bold;
}
/* recomendation */
div.recomendations h1 {
  padding-block: 6rem 3rem;
  text-align: center;
  font-size: 1.8rem;
}
div.recomendations .container-recomendation-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  padding: 1rem;
  justify-content: center;
  padding-block-end: 10rem;
}
div.recomendations .container-recomendation-items .item_recomendation {
  width: 370px;
  padding: 0.5rem;
  gap: 0.6rem;
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  background: #e0e0e0;
  box-shadow: 2px 2px 7px #bababa, -2px -2px 7px #ffffff;
}
div.recomendations .container-recomendation-items .title a {
  color: #0f1010;
}
div.recomendations .container-recomendation-items img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  object-position: center;
  background-color: #f8f8ff;
}
div.recomendations .container-recomendation-items button {
  display: inline-block;
  border: 0;
  margin: 0.3rem;
  position: absolute;
  min-width: 44px;
  min-height: 44px;
  border-radius: 5px;
  background-color: #ddce41;
  cursor: pointer;
}
/* item */
h1 {
  text-align: center;
  padding-block-end: 8rem;
}
/* penghinapan */
.Container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem .1rem;
  padding-block: 4rem;
  margin-block-end: 5rem;
}
.Container .detail-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  background-color: rgb(219, 219, 219);
  border-radius: 5px;
  background: #e0e0e0;
  margin: 1rem;
  box-shadow: 2px 2px 7px #bababa, -2px -2px 7px #ffffff;
}

.Container .detail-Container .image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.Container .detail-Container .image-item h4 {
  padding: 1rem;
  text-transform: capitalize;
}
.Container .detail-Container .image-item picture {
  width: 300px;
  height: 200px;
  padding: 0.5rem;
  object-fit: cover;
  object-position: center;
}
.Container .detail-Container .image-item picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.Container .detail-Container .description-item {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.Container .detail-Container .description-item .title-item {
  text-align: center;
  font-size: 1.3rem;
}
.Container .detail-Container .description-item .title-item a {
  color: black;
  text-transform: capitalize;
}
.location {
  display: flex;
  gap: 10px;
}
.Container .detail-Container .description-item .location > i {
  font-size: 1.1rem;
}
.Container .detail-Container .description-item .location > p {
  font-size: 0.9rem;
}
.Container .detail-Container .description-item > p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.Container .detail-Container .description-item > a {
  margin-top: -29px;
  width: fit-content;
  color: #5969fa;
}
.Container .detail-Container .description-item > a:hover {
  color: #0018f3;
}

/* detail */
.detailContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.detailContainer .detail-container {
  width: 800px;
}
.detailContainer .detail-container a.arrow-left {
  color: #0f1010;
}
.detail-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.detailContainer .image-detail {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  max-width: 750px;
  text-align: center;
  padding-block-end: 1rem;
}
.detailContainer .image-detail picture img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.more-detail {
  display: flex;
  flex-direction: column-reverse;
}
.more-detail button.maps-detail {
  cursor: pointer;
  width: 80px;
  height: 30px;
  margin: 1.2rem 0;
  border: 0;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: #61a3ba;
  box-shadow: 3px 3px 7px #bababa, -2px -2px 7px #ffffff;
}
.more-detail button.maps-detail:hover {
  background: #6faec5;
}
.location-detail {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 80%;
  flex: 1;
}
.maps {
  display: inline-block;
  width: 30%;
  flex: 0;
}
.likeContainer {
  position: absolute;
  top: 0;
  margin-inline-start: 90%;
  margin-block-start: 68vh;
}

.likeContainer button {
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
  width: 44px;
  border: 0;
  height: 44px;
  background-color: #a3e0f7;
}
.likeContainer button i {
  font-size: 1.5rem;
}

/* footer */
footer {
  background-color: #0f1010;
  display: flex;
  padding: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
footer .footer-content {
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}
/* utils */

