<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Trakel merupakan ">
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
  <link href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <title>Trakel</title>
</head>
<body>
  <header>
    <div class="sidebar">
      <div class="logo">  
        <img src="./images/Logo_SIP.png" alt="Logo">
        <h1>Trakel</h1>
      </div>
      <nav>
        <ul>
          <li class="active"><a href="/"><i class="fas fa-home"></i> Dashboard</a></li>
          <li><a href="/#/wisata"><i class="fas fa-map-marker-alt"></i> Wisata</a></li>
          <li><a href="/#/kuliner"><i class="fas fa-utensils"></i> Kuliner</a></li>
          <li><a href="/#/penginapan"><i class="fas fa-hotel"></i> Penginapan</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="user-info">
    <span>Admin</span><i class="fas fa-user"></i>
  </div>
  <main id="maincontent" tabindex="0"></main>
  <footer>
    <div class="footer-content">
      <div class="footer-logo">
        <img src="./images/Logo_SIP.png" alt="Logo">
      </div>
      <div class="footer-text">
        <p>Trakel</p>
        <p>Copyright &copy; 2024</p>
      </div>
    </div>
  </footer>
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
  <script src="https://www.gstatic.com/firebasejs/9.1.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.1.1/firebase-firestore.js"></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>
</body>
</html>
