<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!-- <link rel="manifest" href="./manifest.webmanifest"> -->
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>'JUDUL'</title>
  <body>
    <!-- <a href="#maincontent" class="skip-link">Skip to main content</a> -->
    <header>
      <div class="sidebar">
        <div class="logo">
            <img src="" alt="Logo">
            <h1>Pariwisata Kabupaten Pekalongan</h1>
        </div>
        <ul>
            <li class="active"><a href="/">Dashboard</a></li>
            <li><a href="/">Wisata</a></li>
            <li><a href="/">Kuliner</a></li>
            <li><a href="/">Berita</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </div>
    </header>
    <div class="user-info">
      <span>Admin</span>
      <img src="" alt="User Icon">
    </div>
    <main id="maincontent" tabindex="0"></main>
    
    <footer>
      <div class="footer-content">
        <p>'JUDUL'</p>
        <p>Copyright &copy; 2024</p>
      </div>
    </footer>
  </body>
</html>
