body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.appbar {
  background-color: #333; 
  color: #fff; 
  padding: 10px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

header {
  width: 20%; 
  float: left;
  background-color: #5DADE2;
  height: 100%; 
}

.user-info {
  background: grey;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: right;
}

.user-info span {
  font-weight: bold;
  margin-right: 30px;
}

.user-info img {
  width: 30px; 
  height: 30px; 
  border-radius: 50%; 
}

.sidebar {
  color: white;
  padding: 20px;
}

.sidebar .logo {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar .logo img {
  width: 80px; 
  height: 80px;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

main {
  margin-left: 20%;
  padding: 20px;
  height: calc(100vh - 160px); 
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#maincontent {
  flex: 1;
  overflow-y: auto; 
  padding: 20px;
  box-sizing: border-box;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333; 
  color: #fff; 
  padding: 10px 0;
  text-align: center;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.cards {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.card {
  background-color: #5DADE2; 
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  width: 250px; 
  height: 100px; 
  padding: 10px;
  text-align: left;
}

.card img {
  width: 40%; 
  height: 100%; 
  margin-right: 10px; 
}

.card span {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

