body, html {
  margin: 0;
  padding: 0;
}

#wisataForm {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-group {
  margin-bottom: 5px;
}

#map {  
  flex: 1;
  height: 200px; /* Adjust the height as needed */
  width: 100%;
}

.custom-geocoder {
  max-width: 100%; /* Ensure it takes the full width of its container */
}

.custom-geocoder .mapboxgl-ctrl-geocoder {
  width: 100%; /* Make the Geocoder input take the full width of its container */
}

.custom-geocoder .mapboxgl-ctrl-geocoder--input {
  height: 30px; /* Adjust the height of the input field */
  font-size: 14px; /* Adjust the font size */
}
